.sidebar{
    flex:3.5;
    height: calc(100vh - 50px);
    background-color:slategray;
    overflow-y: scroll;
    position: sticky;
    top:50px;
}

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color:grey;
}

.sidebarWrapper{
    padding:20px;
    background-color:slategrey ;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width:150px;
    border:none;
    padding:10px;
    border-radius:5px;
    font-weight: 500;
}

.sidebarHr{
    margin:20px 0;
}

.sidebarFriendList{
    padding:0px;
    margin: 0px;
    margin-bottom: 10px;
    list-style: none;
    position: relative;
}
.sideList{
    margin: 10px;
}

 .nameOfUser{
    color: black;
    display: inline-block;
    height: 30px;
    margin-left: 10px;
    font-weight: 500;
    position:absolute;
    bottom: 1px;
    text-align: center;

} 

.sideFriendImg{
    height:35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 2px;
}
 .sideFriendList{
    position: relative;
} 
